$back-color: #FFFFFF;
$darker-color: #060A24;
$dark-color: #E04064;
$light-color: #25c0d2;
$lighter-color: rgba(6, 10, 35, 0.56);
$button-gradient: linear-gradient(225deg, #E04064 0%, #25c0d2 100%);
$section-gradient: linear-gradient(25deg, rgba(70,3,132,1) 0%, rgba(37,192,210,1) 50%, rgba(224,64,100,1) 100%);
$polygon-section: polygon(30% 0%, 70% 0%, 100% 10%, 100% 92%, 70% 100%, 30% 100%, 0 92%, 0 13%);

$main-font: 'Montserrat', sans-serif;
$title-font: 'Averia Serif Libre', cursive;

$logo-mob-size: 2.5rem;
$logo-desk-size: 4.25rem;
$project-img-size: 6.5rem;

$margin: 1rem;
$margin-center: 0 auto;

$padding: 1rem;
$padd-hor-mid: 6.25rem;
$padd-hor-big: 12.5rem;
$padd-ver-small: 0.63rem;
$padd-ver-mid: 2.25rem;
$padd-ver-big: 3.5rem;
